/* ---------------- UNDERLINE ANIMATION ON NAVBAR ---------------- */

a:hover::after, a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

nav ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(29, 210, 210);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
  
a:hover::after, a:focus::after {
    transform: scale(1);
}

/* ----------------  ---------------- */


@keyframes wipe-enter {
	0% {
		transform: scale(0, .05);
	}
	50% {
		transform: scale(1, .05);
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.project {
    transform: scale(0.7);
    opacity: 0;
}

.img-languages {
    opacity: 0;
    transform: scale(0.8);
}

.project-transition {
    opacity: 1;
    transform: none;
}

@media (prefers-reduced-motion: no-preference) {
    .project {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .img-languages {
        transition: opacity .7s ease, transform 1.5s ease;
    }
}

/* ---------------- SLIDE ANIMATION ON TITLE ---------------- */

@keyframes deroulement {
    from {
        margin-left: -5%;
        opacity: .2;
    }
    to {
        padding-left: auto;
        opacity: 1;
    }
}

@keyframes deroulementVertical {
    from {
        margin-bottom: 100%;
    }
    to {
        margin-bottom: auto;
    }
}

h1.title, .text-content, .under-part {
    animation-name: deroulement;
    animation-duration: 1.5s;
    display: none;
}

h1.title, .text-content, .under-part {
    display: block;
}

/* ----------------  ---------------- */

.content-img:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}