body {
    margin: auto;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    color: white;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    top: 0;
    /*opacity: 0.7;*/
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 10px;
}

#main-content {
    background-color: rgb(39, 39, 39);
    margin-top: 126px;
}

.titre {
    font-size: 50px;
}

.container {
    border: 1px solid white;
}

.container p {
    font-size: 20px;
}

.color-orange {
    color: orange;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects .titre {
    flex: 0 0 100%;
}

.project {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    text-align: justify;
}

.project p {
    padding: 0 10px;
}

.project .titre {
    width: max-content;
    margin: 5px auto;
    font-size: 30px;
    font-weight: bold;
}

.tools-used {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 1rem;
}