body {
    width: 90%;
    margin: auto;
    background-color: grey;
    font-family: Arial;
}

#main-content {
    background-color: rgba(255, 255, 255, 0.7);
}

.titre {
    font-size: 50px;
}

.container {
    border: 1px solid white;
}

.container p {
    font-size: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

#projects .titre {
    flex: 0 0 100%;
}

.project {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    background-color: white;
    margin: 0 5px;
}

.project .titre {
    width: max-content;
    margin: 5px auto;
    font-size: 20px;
    font-weight: bold;
}